

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
    height: 100%;
}

/*Navbar Styling*/
nav {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #87f08e;
    align-items: center;
    color: black;
    
}


/*Navbar Title*/
.title {
    flex: 1;
    width: 100%;
    font-size: 2em;
    text-align: center;
}

body {
    background-color: #454848;
    color: #87f08e;
    margin: 0;
    height: 100%;
}


/**Grocery List layout and styles**/
.container {
    max-width: 80%;
    margin: 10% 20%;
    background-color: dimgrey;
    border: solid;
    display: flex;
    flex-direction: column;
}

#add {
    background-color: #87f08e;
    text-decoration: none;
}



input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.grocery-list {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: flex-start
}

/*Gorcery Line Item Styles*/
.item {
    margin: 25px 0;
    font-size: 1.2em;
    width: 90%;
}

.item span {
    margin-left: 25%;
}

.strikethrough {
    text-decoration: line-through;
}

.checkbox {
  background-color: rgb(135, 240, 142);
  width: 25px;
  height: 25px;
  display: inline-flex;
  margin-right: 2em; 
  vertical-align: bottom;
}

.done {
  border-width: 4.88px;
  border-color: rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  width: 25px;
  height: 25px;
  display: inline-flex;
  margin-right: 2em;
}



/*Footer*/

footer {
    background-color: #87f08e;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    color: black;
    position: fixed;
    clear: both;
}
